<% include ./partials/header %>

<div class="row">
	<div class="col-md-12">
		<form action="/forgot" method="POST">
			<legend>Forgot your password?</legend>
			<div class="form-group">
				<p>Enter the email address affiliated with your account and we will send you a link to reset your password.</p>
				<label for="email">Email</label>
				<input type="email" name="email" autofocus class="form-control">
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Reset Password">
			</div>
		</form>
	</div>
</div>

<% include ./partials/footer %>